body{
    margin: 0px;
    padding: 0px;
    /*background: url(newwp.jpg);*/
   /*background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(2, 25, 54));
    background-size:cover ;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #000;
}
/*menu*/
    .menu{
    /* background-color: rgb(255, 255, 255);*/
        height: 80px; 
    /* margin: 10px;*/
    display: block;
    margin: auto;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        margin: auto;
        padding: 10px;   
    }
   
    ul li a{
        color: #222;
        letter-spacing: 0.1rem;
        border-radius: 50px;
        border: 2px solid rgb(148, 174, 206);
        margin: 5px;
        padding: 15px;
    }
    ul:hover li:hover a:hover{
        color: rgb(0, 5, 10);
        text-decoration: underline;
    }
    a:hover{
        box-shadow: 0px 0px 1px black;
        background-color: rgb(148, 174, 206) ;
        color: black;
        height: fit-content;
        width: fit-content;
    }
    .menu li{
        float: left;
        padding: 15px;
        padding-top: 35px;
    }
    .menu li a{
        text-decoration: none;
}
h1{
    text-align: center;
    color: #222;
}
p{
    text-align: justify;
    margin: 5%;
 /*   font-size: 150%;*/
    color: #222;
    
}
/*diapo*/
    .diapo{
        /*margin: 0 auto;*/
        flex: 1 0 auto;
        height: fit-content;
        /*border: 3px solid rgb(255, 255, 255);*/
        background-image: url(image/f.jpg);
        background-size: cover;
        

        -webkit-animation-name: diapo;
        -webkit-animation-duration: 10s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;

        -moz-animation-name: diapo;
        -moz-animation-duration: 10s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: normal;

        animation-name: diapo;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
    @-webkit-keyframes diapo{
        0%{background-image: url(image/f.jpg);background-size: cover}
        33%{background-image: url(image/f1.jpg);background-size: cover}
        66%{background-image: url(image/f2.jpg);background-size: cover}
    }
    @-moz-keyframes diapo{
        0%{background-image: url(image/f.jpg);background-size: cover;}
        33%{background-image: url(image/f1.jpg);background-size: cover}
        66%{background-image: url(image/f2.jpg);background-size: cover}
    }
    @keyframes diapo{
        0%{background-image: url(image/f.jpg);background-size: cover}
        33%{background-image: url(image/f1.jpg);background-size: cover}
        66%{background-image: url(image/f2.jpg);background-size: cover}
    }
/*text animation*/
    *, ::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
        .container {
        max-width: 1600px;
        margin: 0 auto;
        padding: 100px 20px 0;
    }
    p {
        text-transform: uppercase;
        color: #222;
        font-weight: 900;
        color: transparent;
       /* font-size: 0px;*/
    }
    p span {
        display: inline-block;
        position: relative;
        overflow: hidden;
        font-size: clamp(20px, 8vw, 30px);
    }
    p span::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
    p:nth-child(1) {
        font-weight: 300;
        animation: txt-appearance 0s 1s forwards;
    }
    p:nth-child(2) {
        animation: txt-appearance 0s 1.25s forwards;
    }
    p:nth-child(1) span::after {
        background: rgb(255, 255, 250);
        animation: slide-in 0.75s ease-out forwards,
        slide-out 0.75s 1s ease-out forwards;
    }
    p:nth-child(2) span::after {
        background: rgb(167, 192, 221);
        animation: slide-in 0.75s 0.3s ease-out forwards,
        slide-out 0.75s 1.3s ease-out forwards;
    }

    @keyframes slide-in {
        100% {
            transform: translateX(0%);
        }
    }
    @keyframes slide-out {
        100% {
            transform: translateX(100%)
        }
    }
    @keyframes txt-appearance {
        100% {
            color: #222;
        }
    }
.diapo{
    flex: 1 0 auto;
    height: 95vh;
}
/*PIED DE PAGE*/
        footer {
            flex-shrink: 0;
            border-top: 2px dashed #000;
            width: 100%;
            background: #fff;
            color: #333;
        }
        .content-footer {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: 16px;
            padding: 50px 0 100px;
        }

        .bloc {
            flex-basis: 20%;
            margin: 0 30px;
        }

        /* contact */
            .footer-contact h3,
            .footer-medias h3 {
                font-size: 22px;
                padding-bottom: 10px;
            }

            .footer-contact p {
                padding: 5px 0;
                color: #000;
            }

        /* Services */

            .media-list {
                list-style-type: none;
            }


        /* Medias */

            .media-list {
                position: relative;
                right: 10px;
            }
            .media-list svg {
                width: 30px;
                margin: 10px 10px;
            }
            .media-list a {
                text-decoration: none;
                color: #333;
                display: flex;
                align-items: center;
                font-size: 20px;
            }
